/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
}

/* Header and Navigation */
.image-header {
  position: relative;
  text-align: center;
  padding: 20px;
}
.image-header img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.image-header h1 {
  position: absolute;
  top: 20px; /* adjust as needed */
  width: 100%;
  text-align: center;
  z-index: 2;
  color: white; /* improve contrast */
}

.overlay-title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  color: #ffffff;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding: 10px;
}
.overlay-banner {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  color: #ffffff;
  font-size: 1.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding: 5px;
}
nav {
  margin-top: 10px;
}

nav a {
  color: #363636;
  text-align: center;
  display: inline-block;
  text-decoration: whitesmoke;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
.about{
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 20px;
}
.about img {
  width: 5%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.about p {
  margin-right: 10%;
  flex: 1;
  font-family: 'Arial', sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  color: #555;
}

/* Main Content */
main {
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
  text-align: right;
  padding: 15px;
  margin-top: 80px;
  margin-right: 40px;
  color: #000000;
  background-image: url('images/coflagsm.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}
/* Image Styles */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  image-rendering: optimizeQuality;
  align-self:last baseline;
}
/* Responsive Layout */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  nav a {
    display: block;
    margin: 10px 0;
  }

  main {
    font-size: 1em;
    margin: 15px;
    padding: 15px;
  }
  .about {
    flex-direction: column;
    align-items: center;
  }
  
  .about img {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .about p {
    text-align: center;
    font-size: 1em;
  }
}